.wrapper{

    background-color: wheat;
    position: absolute;
    right: 38%;
    top: 20%;
    padding: 50px;

}
.form{
    display: flex;
  flex-direction: column;
  gap: 10px;
}
.guessField{
    width: fit-content;
    margin-left: 20%;
}
.sub-btn{
    width: fit-content;
    margin-left: 35%;
}
#guess{
    margin-left: 30%;
    font-size: large;
    font-weight: bold;
}
.result{
    margin-left: 25%;
}